
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #cc3399;
    --second-color: hsl(184, 60%, 47%);
    --title-color: hsl(19, 16%, 15%);
    --text-color: hsl(19, 16%, 35%);
    --text-color-light: hsl(19, 8%, 55%);
    --body-color: hsl(19, 100%, 96%);
    --container-color: white;

    /*CARDS*/
    --body-gradient: linear-gradient(90deg, hsl(184, 100%, 84%), hsl(184, 100%, 80%));
    --shape-gradient: linear-gradient(90deg, hsl(184, 76%, 60%), hsl(184, 81%, 60%));

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --title-font: "Lora", serif;
    --subtitle-font: "Dancing Script", cursive;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background 0.4s;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* TOP BAR */
.topBar{
    background-color: var(--first-color);
}

.icons {
    text-align: right;
}

/* Estilo para los enlaces dentro de .icons */
.icons a {
    color: #ffffff;
    padding: 0 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: black;
}

.topBarphone {
    margin-right: 10px;
}
/* TOP BAR end*/

/* NAVBAR start*/
.navbar{
    background-color: white;
    margin-top: -10px;
    margin-bottom: -45px;
}

.navbar-nav{
    margin-left: auto;
}

.container-lg{
    z-index: 9;
}

.navbar-toggler{
    margin-right: 25px;
}

.navbar-brand img {
    max-height: 40px;
    max-width: 150px;
    margin-left: 25px;
}

.navbar-collapse a{
    margin: 0 auto;
}

/* NAVBAR end*/

/* CAROUSEL START*/
.carousel {
    position: relative;
}

.carousel-caption {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textCarousel{
    color: var(--first-color);
    font-weight: bold;
}

.carousel-caption .btn{
    background-color: var(--second-color);
    border-color: white;
    color: var(--title-color);
}

.btn-carousel-control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}

.carousel-caption h1 {
    font-size: 3rem;
}

.carousel-caption h4 {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .carousel-caption {
        height: 200px;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption h4 {
        font-size: 1rem;
    }

    .carousel-caption .btn {
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 591px) and (max-width: 768px) {
    .carousel-caption {
        height: 300px;
    }

    .carousel-caption h1 {
        font-size: 2.5rem;
    }

    .carousel-caption h4 {
        font-size: 1.25rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        height: auto;
        padding: 1rem;
    }

    .carousel-caption h1 {
        font-size: 1rem;
    }

    .carousel-caption h4 {
        font-size: 0.875rem;
    }

    .carousel-caption .btn {
        padding: 0.5rem 1rem;
    }
    .carousel-caption{
        margin-bottom: -20px;
    }
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}
/* CAROUSEL END*/

/* Contact info Start*/
.custom-padding {
    padding: 0 30px;
}

.custom-height {
    height: 100px;
}

.flex-column{
    margin-left: 10px;
}

.contact-esquinas{
    background-color: var(--second-color);
}

.contact-center{
    background-color: var(--first-color);
}

@media (min-width: 768px) {
    .contact-info {
        position: relative;
        margin-top: -100px !important;
        z-index: 1;
    }

}

/* Contact info end*/

/* Quienes somos START*/
.quienes-somos-item{
    gap: 10px;
}

/* Quienes somos END*/

/* Servicios Start*/
.servicios-icon{
    color: var(--second-color);
}
/* Servicios END*/

.ubicacion .map-area {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Aspect ratio of 4:3 (height/width) */
    height: 0;
    overflow: hidden;
    border-radius: 20px;
}

.ubicacion .map-area iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px;
}



